#header {
    width: 700px;
    height: 200px;
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 660px;
    height: 1000px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /*space between an element and parents*/
    
}

#footer {
    width: 700px;
    height: 50px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    width: 150px;
    height: 1000px;
    background-color: skyblue;
    display: inline-block;
}

#article {
    width: 468px;
    height: 958px;
    background-color: pink;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border: 1px solid darkorange;

}

.gallery {
    width: 77px; /*468 divided by 4 for 4 gallery, subtracted 2 paddings(left and right) 10+10, subtracked 2 margins(left and right) 10+10 */
    height: 200px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px; /*in case it's inline-block, margin won't collapse to each other. Everyone needs its own matgin space*/
    margin-right: 10px;
    margin-bottom: 20px;
      
}

#gallery-container {
    line-height: 0px;
}