/* cancel all default style in html
I'll try to make it as responsive as possible*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Eggshell White color as described in the design_brief*/ 
body {
    background-color: #EAE7DC; 
    color: #8E8D8A;
}




nav {
    display: flex;
    min-height: 8vh;
    justify-content: space-around;
    align-items: center;
}

/* Header text color: Dark Vanilla as described in the design_brief */
.author-name-container {
    margin-left: 0.5%;
    margin-right: auto;
}

.author-name-container a {
    text-decoration: none;
}

.author-name {
    color: #D8C3A5;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Styling links: I think the nav bar looks better with the same color as the body text*/
.nav-bar {
    display: grid;
    margin-left: auto;
    margin-right: 0.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 25%;
    justify-content: space-around;
    list-style: none;
}

/* Taupe Gray color as described in the design_brief*/
.nav-bar a {
    color: #8E8D8A;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}


/* footer text design */
.footer p {
    text-align: center;
    font-size: 14px;
}

.footer {
    height: 10vh;
}


/*------------------Styling Home page--------------------*/
/* Introduction Part */
#home-pic-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    background:url(images/home/home-img-resized.jpg) no-repeat;

}

#home-pic-container > p {
    color: #E85A4F;
    font-size: 68px;
    font-weight: bold;
}


#home-text-container {
    display: block;
    margin: 40px auto;
    width: 40%;
    height: 25%;
}

#home-text-container > h2 {
    line-height: 24px;
    padding: 20px 0px;
    text-align: center;
}
#home-text-container > p  {
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*------------------Styling About page--------------------*/

/*------------------Styling Projects page--------------------*/

/*------------------Styling Contact page--------------------*/